@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(246, 246, 246, 1);
  color: rgba(14, 49, 93, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.w-q-header.is-open .w-q-header-background {
  left: 0;
}
.w-q-header-button-wrapper {
  margin-left: auto;
}
.w-q-header-icon {
  display: none;
}

.w-q-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.w-q-navigation-list.is-open {
  right: 0;
}
.w-q-header-icon-menu {
  display: block;
}

.w-q-header-icon-button.is-open .w-q-header-icon-menu {
  display: none;
}

.w-q-header-icon-button.is-open .w-q-header-icon-close {
  display: block;
}
.w-q-title-img {
  width: 122px;
  height: 27px;
  gap: 4px;
}
.w-q-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: rgba(219, 233, 254, 1);
}

.w-q-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(219, 233, 254, 1);
}
.w-q-header.is-open .w-q-header-background {
  left: 0;
}
.w-q-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-q-header-icon-menu {
  display: block;
}

.w-q-header-icon-button.is-open .w-q-header-icon-menu {
  display: none;
}

.w-q-header-icon-button.is-open .w-q-header-icon-close {
  display: block;
}

.w-q-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px 16px;
  position: relative;
}

.w-q-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  gap: 28px;
  background: rgba(219, 233, 254, 1);
}

.w-q-navigation-list.is-open {
  right: 0;
}

.w-q-navigation-link {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -4%;
  text-align: right;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(14, 49, 93, 1);
}

.w-q-navigation-link:hover,
.w-q-navigatioт-link:focus {
  color: rgba(255, 132, 10, 1);
}

.w-q-header.is-open {
  background-color: transparent;
}

.w-q-navigation-img {
  display: none;
}
.w-q-title-img-two {
  display: none;
}
@media screen and (min-width: 1197px) {
  .w-q-navigation-img {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    margin-right: 340px;
  }
  .w-q-title-img-two {
    display: flex;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-left: 240px;
    letter-spacing: -4%;
  }
  .w-q-policy-terms-header-icon-menu {
    display: none;
  }

  .w-q-header {
    width: 100%;
    height: 88px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .w-q-header-background {
  }
  .w-q-header-icon-button {
    display: none;
  }
  .w-q-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .w-q-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 16px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .w-q-navigation-link {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -4%;

    text-decoration: none;
  }

  .w-q-navigation-item-desk {
    display: none;
  }
}
.w-q-home {
  width: 375px;
  height: 705px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 40088.png");
  margin: auto;
}
.w-q-home-container {
  width: 375px;
  padding: 104px 16px 0px;
  margin: auto;
}

.w-q-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-q-home-title {
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -4%;
  text-align: center;
}
.w-q-home-list {
  padding-top: 242px;
  width: 343px;
}
.w-q-home-lists {
  display: none;
}
.w-q-home-item {
  width: 164px;
  margin: 0 6px;
}
.w-q-home-items {
  width: 164px;
  height: 92px;
  border-radius: 16px;
  padding: 8px;
  background: rgba(147, 193, 253, 0.6);
  backdrop-filter: blur(60px);
}
.w-q-home-bold {
  font-family: Inter;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -4%;
  height: 54px;
}
.w-q-home-bold-d {
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -4%;
  text-align: right;
  padding-top: 4px;
}
.w-q-home-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -4%;
  text-align: center;
  padding: 18px 0 16px;
}
.w-q-home-itemd {
  background: rgba(214, 242, 255, 0.6);
  backdrop-filter: blur(50px);
  width: 164px;
  height: 40px;
  border-radius: 12px;
  padding: 8px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -4%;
}
.w-q-home-itemd img {
  width: 20px;
  height: 24px;
}
.w-q-home-button {
  background: rgba(255, 132, 10, 1);
  width: 343px;
  height: 44px;
  gap: 10px;
  border-radius: 16px;
  padding: 5px;
  font-family: Inter;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -4%;
  text-decoration: none;
  text-align: center;
  color: rgba(245, 252, 255, 1);
}

.w-q-home-button:hover {
  transform: scale(1.1);
  background: rgba(251, 166, 83, 1);

  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1197px) {
  .w-q-home {
    width: 1440px;
    height: 1084px;
    background-image: url("/img/home/Frame\ 40089.png");
  }
  .w-q-home-container {
    width: 1440px;
    padding: 144px 0px 0px;
    position: relative;
  }

  .w-q-home-title {
    font-family: Inter;
    font-weight: 600;
    font-size: 56px;
    line-height: 150%;
    letter-spacing: -4%;
    text-align: center;
    width: 1100px;
  }

  .w-q-home-list {
    display: none;
  }
  .w-q-home-lists {
    display: flex;
    width: auto;
  }
  .w-q-home-item {
    width: 360px;
    margin: 0;
    position: absolute;

    top: 306px;
    left: 1049px;
  }
  .w-q-home-item-q {
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
  }
  .w-q-home-item-w {
    top: 685px;
    left: 1008px;
  }
  .w-q-home-item-e {
    top: 492px;
    left: 72px;
  }
  .w-q-home-items {
    width: 360px;
    height: 121px;
    border-radius: 24px;
    padding: 16px;
  }
  .w-q-home-bold {
    font-family: Inter;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -4%;

    height: 54px;
  }
  .w-q-home-bold-d {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -4%;
    text-align: right;

    padding-top: 8px;
  }

  .w-q-home-itemd {
    width: fit-content;
    height: 60px;
    border-radius: 16px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;

    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -4%;
  }
  .w-q-home-itemd img {
    width: 28px;
    height: 36px;
  }
  .w-q-home-text {
    font-family: Inter;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -4%;
    text-align: center;

    padding: 618px 0 24px;
  }
  .w-q-home-button {
    width: 416px;
    height: 68px;
    gap: 10px;
    border-radius: 24px;
    padding: 10px;
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -4%;
    text-align: center;
  }
}

.w-q-why-container {
  width: 375px;
  margin: auto;
  padding: 23px 15px;
}
.w-q-uniqueness-list {
  padding: 40px 0 32px;
}
.w-q-uniqueness-lists {
  display: none;
}
.w-q-uniqueness-item {
  margin: 0 6px;
  display: flex;
  align-items: center;
  gap: 4px;
  background: rgba(224, 234, 249, 1);
  width: 343px;
  height: 72px;
  border-radius: 24px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -4%;
  vertical-align: middle;
}
.w-q-uniqueness-text {
  padding-top: 32px;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -4%;
  vertical-align: middle;
}
.w-q-why-list {
  padding: 24px 0 32px;
}
.w-q-why-item {
  width: 344px;
  height: 296px;
  gap: 16px;
  margin: 0 6px;
  border-radius: 32px;
  padding: 16px;
  background: rgba(255, 255, 255, 1);
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
.w-q-why-item:hover {
  border: 1px solid rgba(255, 107, 0, 1);
}
.w-q-why-text-bold {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1px;
  padding: 8px 0;
}
.w-q-why-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -4%;
  text-align: right;
  vertical-align: middle;
  color: rgba(255, 132, 10, 1);
}
.w-q-why-image {
  width: 344px;
}
.slick-dots {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.slick-dots li {
  list-style: none;
  width: 18px;
  height: 18px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/why/Ellipse\ 11.png") no-repeat center/cover;
  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/why/Ellipse\ 10.png") no-repeat center/cover;
}
@media screen and (min-width: 1197px) {
  .w-q-why-container {
    width: 1440px;
    padding: 80px 72px 0;
    position: relative;
  }
  .w-q-uniqueness-list {
    display: none;
  }
  .w-q-uniqueness-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding-top: 56px;
  }
  .w-q-uniqueness-item {
    margin: 0px;
    width: 416px;
    height: 120px;
    gap: 12px;
    border-radius: 24px;
    padding: 24px;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -4%;
    vertical-align: middle;
  }
  .w-q-uniqueness-text {
    padding-top: 40px;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -4%;
    vertical-align: middle;
  }
  .w-q-why-list {
    padding: 32px 0 0px;
  }
  .w-q-why-list-right {
    position: absolute;
    bottom: 300px;
    right: 32px;
  }
  .w-q-why-item {
    width: 416px;
    height: 380px;
    border-radius: 32px;
    padding: 24px;
    margin: 0 12px;
  }
  .w-q-why-img {
    margin: auto;
  }
  .w-q-why-text-bold {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -4%;
    height: 72px;
    padding: 0;
    margin: 12px 0;
  }
  .w-q-why-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -4%;
    text-align: right;
    vertical-align: middle;
  }
  .w-q-why-image {
    width: 885px;
    margin: 20px 0 0 460px;
  }

  .slick-dots li {
    display: none;
  }
}

.w-q-about {
  margin: auto;
  width: 375px;
  height: 698px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 40088\ \(1\).png");
}
.w-q-about-container {
  width: 375px;
  padding: 60px 16px 0px;
  margin: auto;
}
.w-q-about-title {
  font-family: Inter;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -4%;
  text-align: center;
}
.w-q-about-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1px;
  padding-top: 300px;
  color: rgba(14, 49, 93, 1);
}
.w-q-about-textt {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -4%;
}
@media screen and (min-width: 1197px) {
  .w-q-about {
    width: 1440px;
    height: 695px;
    background-image: url("/img/Frame\ 40088\ \(2\).png");
  }
  .w-q-about-textt {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -4%;
  }
  .w-q-about-container {
    width: 1440px;
    padding: 100px 72px;
  }
  .w-q-about-title {
    font-family: Inter;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -4%;
    text-align: center;

    text-align: center;
  }
  .w-q-about-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    width: 636px;
    padding-top: 94px;
  }
}
.w-q-how {
  margin: auto;
  width: 375px;
  height: 308px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 40090.png");
}
.w-q-how-container {
  margin: auto;
  width: 375px;
  padding: 40px 16px 0;
}
.w-q-how-list {
  padding-top: 40px;
}

.w-q-how-item {
  margin: 0 6px;
  width: 344px;
  height: 108px;
  border-radius: 16px;
  padding: 16px;
  background: rgba(147, 193, 253, 0.6);
  backdrop-filter: blur(60px);
}

.w-q-how-text-bold {
  font-family: Inter;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -4%;
}

.w-q-how-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -4%;
  text-align: right;
  padding-top: 4px;
}

@media screen and (min-width: 1197px) {
  .w-q-how {
    width: 1440px;
    height: 455px;
    background-image: url("/img/Frame\ 40091.png");
  }
  .w-q-how-container {
    margin: auto;
    width: 1440px;
    padding: 110px 72px;
  }
  .w-q-how-list {
    padding-top: 56px;
  }

  .w-q-how-item {
    margin: 0 12px;
    width: 416px;
    height: 121px;
    border-radius: 24px;
    padding: 16px;
  }

  .w-q-how-text-bold {
    font-family: Inter;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -4%;
  }

  .w-q-how-text {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -4%;
    text-align: right;

    padding-top: 8px;
  }
}

.w-q-characters-container {
  padding: 40px 15px 80px;
  margin: auto;
  width: 375px;
}
.w-q-characters-list {
  padding-top: 40px;
}
.w-q-characters-item {
  margin: 0 6px;
  width: 343px;
  height: 364px;

  border-radius: 32px;
  padding: 16px;
  background: rgba(230, 237, 249, 1);
}
.w-q-characters-img {
  width: 311px;
  height: 274px;
  border-radius: 16px;

  object-fit: cover;
  object-position: center;
}

.w-q-characters-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-top: 12px;
}

@media screen and (min-width: 1197px) {
  .w-q-characters-container {
    padding: 0px 72px 110px;
    margin: auto;
    width: 1440px;
  }
  .w-q-characters-list {
    padding-top: 56px;
  }
  .w-q-characters-item {
    margin: 0 12px;
    width: 416px;
    height: 408px;
    border-radius: 32px;
    padding: 24px;
  }
  .w-q-characters-img {
    width: 368px;
    height: 274px;
    border-radius: 32px;
  }

  .w-q-characters-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding-top: 24px;
  }
}

.w-q-reviews-container {
  margin: auto;
  padding: 20px 16px 0;
  width: 375px;
}
.w-q-reviews-list {
  padding: 40px 0 32px;
}

.w-q-reviews-item {
  margin: 0 5px;
  width: 253px;
  height: 124px;
  border-radius: 16px;
  padding: 16px;
  background: rgba(230, 240, 255, 1);
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
.w-q-reviews-item:hover {
  border: 1px solid rgba(255, 107, 0, 1);
}
.w-q-reviews-item-top {
  display: flex;
  gap: px;
  align-items: center;
}

.w-q-reviews-text-bold {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1px;
  height: 48px;
}

.w-q-reviews-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -4%;
  text-align: right;
  vertical-align: middle;
  color: rgba(255, 132, 10, 1);
  padding-top: 8px;
}

@media screen and (min-width: 1197px) {
  .w-q-reviews-container {
    margin: auto;
    padding: 60px 72px 0;
    width: 1440px;
    position: relative;
  }
  .w-q-reviews-list-right {
    position: absolute;
    bottom: 50px;
    right: 32px;
  }
  .w-q-reviews-list {
    padding: 56px 0 0px;
  }

  .w-q-reviews-item {
    margin: 0 12px;
    width: 306px;
    height: 184px;
    gap: 16px;
    border-radius: 24px;
    padding: 24px;
  }

  .w-q-reviews-text-bold {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -4%;

    height: 72px;
  }

  .w-q-reviews-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -4%;
    text-align: right;
    vertical-align: middle;

    padding-top: 16px;
  }
}

.w-q-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1197px) {
  .w-q-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .w-q-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .w-q-gallery-button:hover {
    scale: 120%;
  }
}

.w-q-features {
  margin: auto;
  width: 375px;
  height: 1001px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 40088\ \(3\).png");
}

.w-q-features-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0;
}
.w-q-features-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 40px;
}
.w-q-features-text-bold {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 132, 10, 1);
}
.w-q-features-text-bolds {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(14, 49, 93, 1);
  text-decoration: none;
}
.w-q-features-div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: rgba(219, 233, 254, 1);
  border-radius: 24px;
  padding: 16px;
  margin-top: 24px;
}
.w-q-features-div-q {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 0 20px;
}
.w-q-features-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.w-q-features-form-w {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.w-q-features-input {
  border: none;

  border-radius: 12px;
  padding: 10px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(191, 217, 254, 1);
  background: rgba(255, 255, 255, 1);
}
.w-q-features-textarea {
  height: 110px;
}
.w-q-features-button {
  border: none;
  width: 312px;
  height: 44px;
  border-radius: 16px;
  padding: 5px;
  background: rgba(255, 132, 10, 1);
  font-family: Inter;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -4%;
  text-align: center;
  color: rgba(245, 252, 255, 1);
}
@media screen and (min-width: 1197px) {
  .w-q-features {
    width: 1440px;
    margin: auto;
    height: 1037px;
    background-image: url("/img/Frame\ 40089\ \(3\).png");
  }
  .w-q-features-container {
    width: 1440px;
    margin: auto;
    padding: 110px 72px 0;
  }
  .w-q-featuress {
    display: flex;
    gap: 24px;
    padding-top: 56px;
  }
  .w-q-features-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 0px;
    width: 526px;
  }
  .w-q-features-text-bold {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .w-q-features-text-bolds {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .w-q-features-div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 746px;

    border-radius: 32px;
    padding: 24px;

    margin-top: 0px;
  }
  .w-q-features-div-q {
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    padding: 0 25px;
  }
  .w-q-features-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .w-q-features-form-w {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .w-q-features-input {
    border: none;
    margin-top: 12px;
    border-radius: 12px;
    padding: 10px;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .w-q-features-textarea {
    height: 110px;
  }
  .w-q-features-button {
    border: none;
    width: 416px;

    height: 68px;

    border-radius: 24px;
    padding: 10px;
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -4%;
    text-align: center;
    margin: 24px auto 0;
  }
}

.w-q-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}

.w-q-container h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.w-q-container h2 {
  margin-top: 10px;
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
}

.w-q-container h3 {
  margin-top: 10px;
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}

.w-q-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.w-q-container ul li {
  margin-bottom: 10px;
}
.w-q-container p {
  margin-top: 10px;
}
.w-q-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.w-q-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1197px) {
  .w-q-container {
    padding: 160px 172px 80px;
    width: 1440px;
    margin: auto;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .w-q-container h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }

  .w-q-container h2 {
    margin-top: 20px;
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .w-q-container h3 {
    margin-top: 20px;
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .w-q-container ul {
    margin-top: 20px;
  }

  .w-q-container ul li {
    margin-bottom: 10px;
  }
  .w-q-container p {
    margin-top: 20px;
  }
}

.w-q-footer-container {
  width: 375px;
  margin: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.w-q-footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.w-q-footer-text {
  text-decoration: none;
  color: inherit;
}

.w-q-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.w-q-footer-div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 12px;
}
.w-q-footer-div-title {
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(255, 132, 10, 1);
}
.w-q-footer-div-t {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  letter-spacing: 0%;
  color: rgba(14, 49, 93, 1);
}
.w-q-footer-div-div {
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 1197px) {
  .w-q-footer-container {
    width: 1440px;
    padding: 24px 32px;
    display: flex;
    margin: auto;
    gap: 16px;
  }

  .w-q-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 12px;
  }

  .w-q-footer-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .w-q-footer-copyright {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .w-q-footer-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 12px;
    height: 103px;
    width: 436px;
    column-gap: 40px;
  }
  .w-q-footer-div-title {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .w-q-footer-div-t {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .w-q-footer-div-div {
    display: flex;
    gap: 16px;
  }
}

.w-q-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 20px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(60px);

  z-index: 1000;
  display: none;
}

.w-q-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(58, 42, 80, 1);
}

.w-q-cookie-button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.w-q-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 132, 10, 1);
  width: 128px;
  border-radius: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(58, 42, 80, 1);
}

#accept-cookies {
  background: rgba(255, 132, 10, 1);
}

.w-q-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.w-q-cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (min-width: 1197px) {
  .w-q-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
  }

  .w-q-cookie-popup-text-two {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  .w-q-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  .w-q-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
